@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100..900&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.5s;
}

* {
  font-family: "Exo", sans-serif;
}

:root {
  /* ===== Text Colors ===== */
  --text-neutral-900: #000000;
  --text-neutral-800: #111111;
  --text-neutral-400: #d1d5dc;
  --text-neutral-100: #ffffff;
  --text-neutral-50: #fdfdfd;
  --text-neutral-500: #525252;

  --text-orange-500: #f97200;
  --text-orange-400: #ff7a50;

  --text-blue-500: #155dfc;
  --text-blue-550: #2b7fff;

  --text-red-500: #e7000b;
  --text-red-400: #fb2c36;

  --text-purple-700: #9810fa;
  --text-purple-550: #ad46ff;

  --text-yellow-600: #ffdf20;

  /* ===== Background Colors ===== */
  --bg-red-500: #e7000b;
  --bg-red-400: #fb2c36;
  --bg-red-100: #fef2f2;

  --bg-amber-300: #e6b447;

  --bg-yellow-50: #fff085;
  --bg-yellow-100: #fef5c4;
  --bg-yellow-150: #fef9c2;
  --bg-yellow-200: #f0e08a;
  --bg-yellow-300: #f1d962;
  --bg-yellow-400: #d9c935;
  --bg-yellow-500: #ffd15b;
  --bg-yellow-600: #ffdf20;
  --bg-yellow-700: #ffd230;
  --bg-yellow-750: #ffc131;

  --bg-green-100: #f2f9e6;
  --bg-green-300: #d5e5b7;
  --bg-green-500: #b1c47a;
  --bg-green-600: #7bf1a7;
  --bg-green-400: #dbfce7;
  --bg-green-700: #00c950;

  --bg-blue-50: #f5f6ff;
  --bg-blue-100: #e5e8ff;
  --bg-blue-300: #c3cfff;
  --bg-blue-500: #9bafff;
  --bg-blue-600: #879bff;
  --bg-blue-350: #2b7fff;
  --bg-blue-400: #8ec5ff;
  --bg-blue-700: #1da1f2;
  --bg-blue-800: #155dfb;
  --bg-blue-25: #eff6ff;

  --bg-purple-50: #f8f7ff;
  --bg-purple-100: #ebe7ff;
  --bg-purple-300: #c9bfff;
  --bg-purple-350: #f3e8ff;
  --bg-purple-500: #9b80ff;
  --bg-purple-600: #875cff;
  --bg-purple-550: #ad46ff;
  --bg-purple-400: #dbeafe;
  --bg-purple-700: #dab2ff;
  --bg-purple-800: #9810fa;
  --bg-purple-25: #faf5ff;

  --bg-pink-100: #f9e7f7;
  --bg-pink-300: #d9bff1;
  --bg-pink-600: #9739bf;
  --bg-pink-700: #fea5d5;
  --bg-pink-400: #fce7f3;

  --bg-neutral-900: #000000;
  --bg-neutral-300: #dedede;
  --bg-neutral-50: #fefefe;
  --bg-neutral-75: #f7f7f7;
  --bg-neutral-85: #f5f5f5;
  --bg-neutral-100: #ffffff;
  --bg-neutral-400: #b4b4b4;
  --bg-neutral-600: #707070;
}

*::selection {
  background-color: var(--bg-yellow-500);
  color: var(--text-neutral-800);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
button,
span {
  display: inline-block;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.container {
  padding-inline: 3%;
}

.main {
  padding-inline: 10px;
}

.btn-span {
  background-color: var(--bg-neutral-900);
  color: var(--text-neutral-50);
  font-weight: 700;
  font-size: 0.6563rem;
  padding: 0.625rem 1.25rem 0.625rem 0.9375rem;
  transform: rotate(-2deg);
  margin-bottom: 0.9375rem;
  box-shadow: 0.1875rem 0.1875rem black;
}

.head-content {
  position: relative;
  z-index: 2;
  text-align: center;
  margin-bottom: 50px;
}

.head-content h2 {
  font-size: 35.6px;
  font-weight: 900;
}

.head-content p {
  font-size: 15px;
  color: var(--text-neutral-500);
  margin-block: 10px 15px;
  font-weight: 600;
}

.head-content div {
  width: 95px;
  height: 6px;
  background-color: var(--bg-neutral-900);
  margin: 0 auto;
  transform: rotate(1deg);
}

/* Start Header */
#header {
  position: fixed;
  top: 0.8125rem;
  left: 0;
  right: 0;
  z-index: 90000;
}

#header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-neutral-100);
  border: 0.125rem solid black;
  padding: 0.55rem 1.125rem;
  border-radius: 0.625rem;
}

#header .nav .left h1 {
  font-size: 1.41rem;
  color: var(--text-neutral-800);
  font-weight: 800;
}

#header .nav .left h1 span {
  color: var(--text-orange-500);
}

#header .nav .center,
#header .nav .right a {
  display: none;
}

#header .nav .right .icon {
  background-color: var(--bg-neutral-100);
  padding: 0.675rem 0.5rem;
  box-shadow: 0.2rem 0.2rem black;
  border-radius: 0.25rem;
  border: 0.125rem solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

#header .nav .right .icon:hover {
  transform: translateY(-0.1363rem);
}

#header .nav .right i {
  font-size: 1.1rem;
}
/* End Header */

/* Start Section 1 */
#section-1 {
  padding-block: 7.1875rem 2.5rem;
  min-height: 100vh;
  background-color: var(--bg-yellow-50);
}

#section-1 .main {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  gap: 3.125rem;
  height: 100%;
}

#section-1 .main .shape {
  position: absolute;
}

#section-1 .main .shape-1 {
  left: 5.1%;
  top: -8%;
  width: 5.9375rem;
  height: 5.9375rem;
  background-color: rgba(0, 0, 0, 0.134);
  transform: rotate(10deg);
  z-index: 0;
}

#section-1 .main .shape-2 {
  background-color: #fb2c361b;
  width: 4.375rem;
  height: 4.375rem;
  right: 13%;
  top: 1%;
  transform: rotate(45deg);
}

#section-1 .main .shape-3 {
  display: none;
}

#section-1 .main .left,
#section-1 .main .right {
  position: relative;
  z-index: 2;
}

#section-1 .main .left h2 {
  font-size: 3.375rem;
  font-weight: 900;
  text-shadow: 0.1875rem 0.1875rem #000000cc;
  line-height: 4.25rem;
}

#section-1 .main .left h2 span:first-child {
  color: var(--text-red-500);
}

#section-1 .main .left h2 span:last-child {
  color: var(--text-blue-500);
}

#section-1 .main .left p {
  background-color: var(--bg-neutral-100);
  color: var(--text-neutral-900);
  padding: 0.75rem 1.5625rem 0.75rem 0.75rem;
  font-size: 1.125rem;
  font-weight: 500;
  border: 0.1875rem solid black;
  margin-block: 1.25rem 1.5625rem;
  box-shadow: 0.1875rem 0.1875rem black;
}

#section-1 .main .btn {
  display: flex;
  justify-content: space-between;
}

#section-1 .main .btn button {
  padding: 0.875rem 1.5rem;
  font-size: 0.9375rem;
  font-weight: 700;
  border: 0.25rem solid black;
  box-shadow: 0.25rem 0.25rem black;
  transition: 0.2s;
}

#section-1 .main .btn button:hover {
  box-shadow: none;
  transform: translate(0.25rem);
}

#section-1 .main .btn button:first-child {
  background-color: var(--bg-neutral-900);
  color: var(--text-neutral-100);
  width: 51%;
}

#section-1 .main .btn button:last-child {
  background-color: var(--text-neutral-100);
  color: var(--bg-neutral-900);
  width: 45%;
}

#section-1 .main .right {
  position: relative;
}

#section-1 .main .right .img {
  border: 0.25rem solid black;
  box-shadow: 0.35rem 0.35rem black;
  height: 18.125rem;
}

#section-1 .main .right .img:hover {
  transform: translate(-0.125rem, -0.125rem);
}

#section-1 .main .right .img img {
  height: 100%;
}

#section-1 .main .right span {
  position: absolute;
  top: -5%;
  right: -4%;
  font-size: 0.75rem;
  background-color: var(--text-red-400);
  padding: 0.5rem 0.875rem;
  transform: rotate(12deg);
  font-weight: 700;
  color: var(--text-neutral-100);
  border: 0.125rem solid black;
  box-shadow: 0.1875rem 0.1875rem black;
}
/* End Section 1 */

/* Start Section 2 */
#section-2 {
  padding-block: 3.125rem;
  background-color: var(--bg-neutral-85);
}

#section-2 .main {
  display: flex;
  flex-flow: column wrap;
  gap: 1.5625rem;
}

#section-2 .main .left-1 .head {
  margin-bottom: 1.875rem;
}

#section-2 .main .left-1 .head h2 {
  font-size: 2.25rem;
  color: var(--text-neutral-900);
  font-weight: 900;
}

#section-2 .main .left-1 .head .btn-span {
  transform: rotate(3deg);
  display: none;
}
#section-2 .main .left-1 > .cards {
  display: flex;
  flex-direction: column;
  gap: 1.4375rem;
}

#section-2 .main .left-1 > .cards .card {
  display: flex;
  flex-direction: column;
  border: 0.25rem solid black;
  gap: 0.375rem;
  padding: 1.5625rem;
  box-shadow: 0.25rem 0.25rem black;
  background-color: var(--bg-neutral-100);
  transition:
    transform 0.2s,
    box-shadow 0.1s;
}

#section-2 .main .left-1 > .cards .card:hover {
  box-shadow: 0.375rem 0.375rem black;
  transform: translate(-0.125rem, -0.125rem);
}

#section-2 .main .left-1 > .cards .card .left-2 {
  width: 7.5rem;
  height: 6rem;
  border: 0.1875rem solid black;
  position: relative;
}

#section-2 .main .left-1 > .cards .card .left-2 img {
  height: 100%;
}

#section-2 .main .left-1 > .cards .card .left-2 span {
  position: absolute;
  top: -8%;
  right: -8%;
  font-size: 0.5625rem;
  padding: 0.1875rem 0.375rem;
  color: var(--text-neutral-100);
  font-weight: 600;
  border: 0.125rem solid black;
}

#section-2 .main .left-1 > .cards .card .left-2 img[alt="img-2"] + span {
  background-color: var(--bg-red-500);
  transform: rotate(10deg);
}

#section-2 .main .left-1 > .cards .card .left-2 img[alt="img-3"] + span {
  background-color: var(--bg-blue-350);
  transform: rotate(-10deg);
}

#section-2 .main .left-1 > .cards .card .left-2 img[alt="img-4"] + span {
  background-color: var(--bg-purple-550);
  transform: rotate(25deg);
}

#section-2 .main .left-1 > .cards .card .right-2 > span {
  font-size: 0.5625rem;
  padding: 0.1875rem 0.5625rem;
  font-weight: 800;
  border: 0.125rem solid black;
  box-shadow: 0.1875rem 0.1875rem black;
  margin-bottom: 0.625rem;
}

#section-2 .main .left-1 > .cards .card .right-2 > span.TECH {
  background-color: var(--bg-yellow-600);
  transform: rotate(-2deg);
}

#section-2 .main .left-1 > .cards .card .right-2 > span.DESIGN {
  background-color: var(--bg-green-600);
  transform: rotate(2deg);
}

#section-2 .main .left-1 > .cards .card .right-2 > span.CULTURE {
  background-color: var(--bg-pink-700);
  transform: rotate(-2deg);
}

#section-2 .main .left-1 > .cards .card .right-2 > h3 {
  font-size: 1.125rem;
  font-weight: 700;
}

#section-2 .main .left-1 > .cards .card-1:hover h3 {
  color: var(--text-red-500);
}

#section-2 .main .left-1 > .cards .card-2:hover h3 {
  color: var(--text-blue-500);
}

#section-2 .main .left-1 > .cards .card-3:hover h3 {
  color: var(--text-purple-700);
}

#section-2 .main .left-1 > .cards .card .right-2 > p {
  margin-block: 0.625rem;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.375rem;
}

#section-2 .main .left-1 > .cards .card .right-2 .bottom {
  display: flex;
  flex-flow: column wrap;
}

#section-2 .main .left-1 > .cards .card .right-2 .bottom span {
  font-size: 0.6563rem;
  font-weight: 600;
  color: var(--text-neutral-900);
}

#section-2 .main .left-1 > .cards .card .right-2 .bottom span:last-child {
  color: var(--text-red-500);
}

#section-2 .main .left-1 > .cards .card .right-2 .bottom span i {
  margin-right: 0.125rem;
}

#section-2 .main .left-1 .btn-left {
  text-align: center;
  margin-top: 1.875rem;
}

#section-2 .main .left-1 .btn-left span {
  font-size: 0.9375rem;
  color: var(--text-neutral-100);
  font-weight: 700;
  background-color: var(--bg-neutral-900);
  padding: 0.8125rem 2.0625rem;
  box-shadow: 0.25rem 0.25rem black;
  transition: 0.2s;
}

#section-2 .main .left-1 .btn-left span:hover {
  box-shadow: none;
  transform: translate(0.25rem, 0.25rem);
}

#section-2 .main .right-1 {
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
}

#section-2 .main .right-1 .box {
  border: 0.25rem solid black;
  box-shadow: 0.375rem 0.375rem black;
  padding: 1.5625rem;
  background-color: var(--bg-neutral-100);
}

#section-2 .main .right-1 .box h3 {
  font-size: 1.4063rem;
  font-weight: 900;
}

#section-2 .main .right-1 .box-1 .content {
  margin-top: 0.9375rem;
  display: flex;
  gap: 0.625rem;
  align-items: flex-start;
}

#section-2 .main .right-1 .box-1 .content > span {
  font-size: 1.8125rem;
  color: var(--text-red-400);
  font-weight: 900;
  transform: translateY(-0.25rem);
}

#section-2 .main .right-1 .box-1 .content > span.color-2 {
  color: var(--text-blue-550);
}

#section-2 .main .right-1 .box-1 .content > span.color-3 {
  color: var(--text-purple-550);
}

#section-2 .main .right-1 .box-1 .content .right h5 {
  font-size: 0.875rem;
  font-weight: 700;
  transition: 0.2s;
}

#section-2 .main .right-1 .box-1 .content > span + .right h5:hover {
  color: var(--text-red-500);
}

#section-2 .main .right-1 .box-1 .content > span.color-2 + .right h5:hover {
  color: var(--text-blue-500);
}

#section-2 .main .right-1 .box-1 .content > span.color-3 + .right h5:hover {
  color: var(--text-purple-700);
}

#section-2 .main .right-1 .box-1 .content .right p {
  color: var(--text-neutral-500);
  font-size: 0.75rem;
  margin-top: 0.125rem;
}

#section-2 .main .right-1 .box-2 h3 {
  margin-bottom: 0.8125rem;
}

#section-2 .main .right-1 .box-2 .content {
  margin-top: 0.5rem;
  padding: 0.75rem 0.9375rem;
  border: 0.125rem solid black;
  transition: 0.2s;
}

#section-2 .main .right-1 .box-2 .content:nth-child(2) {
  background-color: var(--bg-yellow-150);
}

#section-2 .main .right-1 .box-2 .content:nth-child(3) {
  background-color: var(--bg-green-400);
}

#section-2 .main .right-1 .box-2 .content:nth-child(4) {
  background-color: var(--bg-pink-400);
}

#section-2 .main .right-1 .box-2 .content:nth-child(5) {
  background-color: var(--bg-purple-400);
}

#section-2 .main .right-1 .box-2 .content:nth-child(6) {
  background-color: var(--bg-purple-350);
}

#section-2 .main .right-1 .box-2 .content:hover {
  box-shadow: 0.375rem 0.375rem black;
  transform: translate(-0.1875rem, -0.1875rem);
}

#section-2 .main .right-1 .box-2 .content:nth-child(2):hover {
  background-color: var(--bg-yellow-600);
}

#section-2 .main .right-1 .box-2 .content:nth-child(3):hover {
  background-color: var(--bg-green-600);
}

#section-2 .main .right-1 .box-2 .content:nth-child(4):hover {
  background-color: var(--bg-pink-700);
}

#section-2 .main .right-1 .box-2 .content:nth-child(5):hover {
  background-color: var(--bg-blue-400);
}

#section-2 .main .right-1 .box-2 .content:nth-child(6):hover {
  background-color: var(--bg-purple-700);
}
/* End Section 2 */

/* Start Section 3 */
#section-3 {
  padding-block: 3.125rem;
  position: relative;
  background-color: var(--bg-yellow-700);
  border: 0.2188rem solid black;
  border-left: none;
  border-right: none;
}

#section-3 .shape {
  position: absolute;
}

#section-3 .shape-1 {
  inset: 1.875rem 1.875rem auto auto;
  height: 7.5rem;
  width: 7.5rem;
  transform: rotate(45deg);
  background-color: rgba(0, 0, 0, 0.096);
}

#section-3 .shape-2 {
  inset: auto auto 1.875rem 1.875rem;
  width: 6.25rem;
  height: 6.25rem;
  background-color: var(--bg-yellow-750);
  transform: rotate(-15deg);
}

#section-3 .boxes {
  display: flex;
  flex-flow: column wrap;
  gap: 1.5625rem;
}

#section-3 .boxes .box {
  text-align: center;
}

#section-3 .boxes .box .inner {
  background-color: var(--bg-yellow-150);
  padding: 1.5625rem;
  border: 0.25rem solid;
  box-shadow: 0.375rem 0.375rem black;
  position: relative;
  transition: 0.2s;
}

#section-3 .boxes .box .inner-2 {
  background-color: var(--bg-green-400);
}

#section-3 .boxes .box .inner-3 {
  background-color: var(--bg-pink-400);
}

#section-3 .boxes .box .inner:hover {
  transform: translate(-0.125rem, -0.125rem);
}

#section-3 .boxes .box .inner .details .img {
  width: 5.625rem;
  margin: 0 auto;
  border: 0.25rem solid;
}

#section-3 .boxes .box .inner .details h3 {
  font-size: 1.3438rem;
  font-weight: 900;
  margin-block: 1rem 0.3125rem;
  transition: 0.2s;
}

#section-3 .boxes .box .inner:hover h3 {
  color: var(--text-red-500);
}

#section-3 .boxes .box .inner:hover h3.head-blue {
  color: var(--text-blue-500);
}

#section-3 .boxes .box .inner:hover h3.head-purple {
  color: var(--text-purple-700);
}

#section-3 .boxes .box .inner .details h4 {
  font-size: 0.75rem;
  color: var(--text-neutral-500);
}

#section-3 .boxes .box .inner > p {
  font-size: 0.75rem;
  margin-block: 1.125rem;
  line-height: 1.25rem;
}

#section-3 .boxes .box .inner .social {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}

#section-3 .boxes .box .inner .social a {
  background-color: var(--bg-neutral-900);
  color: var(--text-neutral-100);
  padding: 0.6875rem 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8125rem;
  transition: 0.2s;
}

#section-3 .boxes .box .inner .social a:hover {
  box-shadow: 0.3125rem 0.3125rem black;
  transform: translate(-0.3125rem, -0.3125rem);
}

#section-3 .boxes .box .inner .social a:first-child:hover {
  background-color: var(--bg-blue-700);
}

#section-3 .boxes .box .inner .social a:nth-child(2):hover {
  background-color: var(--bg-blue-800);
}

#section-3 .boxes .box .inner .social a:last-child:hover {
  background-color: var(--bg-purple-800);
}

#section-3 .boxes .box .inner span {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  background-color: var(--bg-red-400);
  font-size: 0.5625rem;
  transform: rotate(12deg);
  color: var(--text-neutral-100);
  font-weight: 700;
  padding: 0.3125rem 0.375rem;
  border: 0.125rem solid black;
}

#section-3 .boxes .box .inner-2 span {
  background-color: var(--bg-blue-350);
  transform: rotate(-12deg);
}

#section-3 .boxes .box .inner-3 span {
  background-color: var(--bg-purple-550);
  transform: rotate(30deg);
}
/* End Section 3 */

/* Start Section 4 */
#section-4 {
  padding-block: 3.125rem;
  background-color: var(--bg-neutral-85);

  .main {
    .head-content {
      div {
        transform: rotate(-1deg);
      }
    }

    .body-content {
      display: flex;
      flex-flow: column wrap;
      gap: 2.8125rem;

      .leftContent {
        .inner {
          h3 {
            font-size: 1.6875rem;
            font-weight: 900;
            line-height: 1.875rem;
            color: var(--text-neutral-900);
          }

          p {
            color: var(--text-neutral-900);
            font-size: 0.9375rem;
            font-weight: 600;
            line-height: 1.5rem;
            background-color: var(--bg-neutral-100);
            padding: 0.75rem;
            border: 0.0625rem solid black;
            box-shadow: 0.1875rem 0.1875rem black;
            margin-block: 1.5rem;
          }

          .card {
            display: flex;
            align-items: center;
            gap: 0.625rem;
            margin-bottom: 1.125rem;

            .icon {
              width: 2.25rem;
              height: 2.25rem;
              flex-shrink: 0;
              background-color: var(--bg-red-400);
              border: 0.125rem solid black;
              font-size: 0.875rem;
              color: var(--text-neutral-100);
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .icon-2 {
              background-color: var(--bg-blue-350);
            }

            .icon-3 {
              background-color: var(--bg-purple-550);
            }

            .icon-4 {
              background-color: var(--bg-green-700);
            }

            span {
              font-size: 0.8438rem;
              color: var(--text-neutral-900);
              font-weight: 600;
              line-height: 1.25rem;
            }
          }

          button {
            padding: 0.9375rem 2rem;
            font-size: 1.125rem;
            color: var(--text-neutral-100);
            background-color: var(--bg-neutral-900);
            font-weight: 700;
            box-shadow: 0.3125rem 0.3125rem black;
            margin-top: 0.9375rem;
            transition: 0.2s;

            &:hover {
              transform: translate(0.3125rem, 0.3125rem);
              box-shadow: none;
            }
          }
        }
      }

      .rightContent {
        .inner {
          border: 0.2188rem solid black;
          padding: 1.875rem;
          background-color: var(--bg-neutral-100);
          box-shadow: 0.375rem 0.375rem black;

          h4 {
            font-size: 1.4063rem;
            font-weight: 900;
            margin-bottom: 1.25rem;
          }

          .boxes {
            display: flex;
            flex-direction: column;
            gap: 1.375rem;

            .box {
              background-color: #00c950;
              border: 0.125rem solid black;
              padding: 0.9375rem;

              p {
                font-size: 0.8438rem;
                color: var(--text-neutral-900);
                font-weight: 600;
                line-height: 1.5rem;
                margin-bottom: 0.5rem;
              }

              .bottom {
                display: flex;
                align-items: center;
                gap: 0.625rem;

                .img {
                  width: 2.25rem;
                  border: 0.125rem solid black;
                }

                .box-content {
                  h5 {
                    font-size: 0.8438rem;
                    font-weight: 700;
                  }

                  span {
                    font-size: 0.6563rem;
                    color: var(--text-neutral-500);
                    transform: translateY(-0.1875rem);
                  }
                }
              }
            }

            .box:first-child {
              background-color: var(--bg-red-100);
            }

            .box:nth-child(2) {
              background-color: var(--bg-blue-25);
            }

            .box:last-child {
              background-color: var(--bg-purple-25);
            }
          }
        }
      }
    }
  }
}
/* End Section 4 */

/* Start Footer */
#footer {
  padding-block: 50px;
  background-color: var(--bg-neutral-900);

  .main {
    color: var(--text-neutral-100);

    .boxes {
      display: flex;
      flex-flow: column wrap;
      padding-bottom: 40px;
      border-bottom: 4px solid white;

      .box-1 {
        margin-bottom: 70px;

        .title {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 20px;

          .icon {
            height: 48px;
            width: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--bg-neutral-100);
            color: var(--text-neutral-900);
            font-size: 18px;
          }

          h4 {
            font-size: 22.5px;
            font-weight: 800;
          }
        }

        p {
          font-size: 13.5px;
        }
      }

      .box-2 {
        margin-bottom: 45px;

        h5 {
          font-size: 18px;
          font-weight: 800;
          margin-bottom: 18px;
        }

        .links {
          display: flex;
          flex-direction: column;
          gap: 18px;

          a {
            font-size: 13.5px;
            font-weight: 600;
            transition: 0.2s;
          }

          a:hover {
            color: var(--text-yellow-600);
          }
        }
      }

      .box-3 {

        h5 {
          font-size: 18px;
          font-weight: 800;
        }

        p {
          margin-block: 25px 18px;
          font-size: 13.5px;
        }

        input {
          display: block;
        }

        input[type="text"] {
          width: 100%;
          background-color: transparent;
          padding: 13px;
          outline: none;
          border: 2px solid white;
          color: var(--text-neutral-100);
          margin-bottom: 14px;
        }

        input[type="text"]:focus {
          border-color: var(--text-yellow-600);
        }

        input[type="submit"] {
          width: 98%;
          margin-inline: auto;
          color: var(--text-neutral-900);
          font-weight: 700;
          padding-block: 14px;
          background-color: var(--bg-yellow-600);
          border: none;
          box-shadow: -4px -4px #ccb21a inset;
          transition: 0.2s;
        }

        input[type="submit"]:hover {
          transform: translate(3px, 3px);
          background-color: #fdc700;
        }
      }
    }

    .bottom {
      margin-top: 22px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: var(--text-neutral-100);

      p {
        font-size: 13.5px;
        font-weight: 700;
      }

      .right {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-size: 12px;
        font-weight: 600;

        a {
          transition: 0.2s;
        }

        a:hover {
          color: var(--text-yellow-600);
        }
      }
    }
  }
}
/* End Footer */
